/* ========================================================== */
/* surcharges CSS pour toutes les pages */
/* ========================================================== */
body, html {
    height: 100%;
}
body{
    font-family: 'Ubuntu', sans-serif;
}
.space{
    padding:5px;
}
td,th{
    text-align:center;
}

img {
    max-width: 100%;
    height: auto;
    cursor: pointer;
}

h1 {
    font-weight:lighter;
    padding-top:1em;
    color:#527fc1 !important;
}

.spacing{
    padding:50px;
}

.messageErreur {
    color: red;
}

.messageConfirmation {
    color: green;
}

#profil {
    margin-top: 100px;
    margin-left: 20px;
}

.lbSelect {
    padding-bottom: 15px;
}

.trHidden {
    display: none;
}

#datatable {
    width:100%;
}

fieldset{
    margin: 2em auto;
   
}
.form-row {
     padding:0 1em;
}
legend {
    color:lightslategrey;
    font-size:inherit;
}
/* ========================================================== */
/* Pages spécifiques
/* ========================================================== */

.no-nav {
     display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}
.form-signin {
    
  width: 100%;
  max-width: 330px;
  
  margin: auto;
}
.no-nav nav {
    
    display:none;
}


/* Css Roman */
/* Tableau responsive */
table {
    border-collapse: collapse;
    width: 100%;
}

@media only screen and(min-width: 980px){
    tr:nth-child(even){background-color: #f2f2f2;}
}

@media only screen and (max-width: 980px) {
    #no-more-tables table, 
    #no-more-tables thead, 
    #no-more-tables tbody, 
    #no-more-tables th, 
    #no-more-tables td, 
    #no-more-tables tr { 
        display: block; 
    }

    /* On cache les headers, mais pas de display:none; pour l'accessibilité'*/
    #no-more-tables thead tr { 
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    #no-more-tables tr { border: 1px solid #ccc; margin-bottom: 1em; }
    #no-more-tables tr:last-child { margin-bottom:3em; border-bottom: none }

    #no-more-tables td { 
        border: none;
        border-bottom: 1px solid #eee; 
        position: relative;
        padding-left: 50%; 
        white-space: normal;
        text-align:left;
    }

    #no-more-tables td:before { 
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%; 
        padding-right: 10px; 
        white-space: nowrap;
        text-align:left;
        font-weight: bold;
    }

    #no-more-tables.withoutlabel td{
        padding:10px; 
    }
    #no-more-tables.withoutlabel td:before{
        display:none;
    }
    #no-more-tables.withoutlabel td[data-title="Id"]{
        display:none;
    }
    /* Label sur les champs*/
    #no-more-tables td:before { content: attr(data-title); }
}

.navbar-brand{
    max-width:30px;
}


.air{
    padding:2em 0em;
}

@media only screen and (max-width:800px){
    .air .btn{
        width:100%;
        margin: 0 0 1em 0;
    }
}

nav.bg-dark{
    background-color:#527fc1 !important;
}
.navbar-dark .navbar-nav .nav-link, .navbar-text {
    color:#ffffff !important;
}

.formBoutons{
    display:inline-block;
}


